*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: $bg-primary;
}

.body-is-fixed {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

nav,
.nav {
  background-color: $bg-secondary;
}

// .hero {
//   --image: url(../../assets/images/bg-dark-a.jpg);
//   --image-position: center top;

//   position: relative;
//   min-height: 700px;

//   &::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: var(--image) no-repeat var(--image-position);
//     background-size: cover;
//     z-index: -1;
//   }

//   &__flex {
//     --image: url(../../assets/images/bg-dark-a2.jpg);
//     --image-position: center 54%;
//   }

//   &__color {
//     --image: url(../../assets/images/color-bg-b.jpg);
//     --image-position: center bottom;
//   }

//   &__images {
//     --image: url(../../assets/images/color-bg-a.jpg);
//     --image-position: center top;
//   }

//   &__inputs {
//     --image: url(../../assets/images/b.jpg);
//     --image-position: center 75%;
//   }
// }
