@use 'sass:map';

// Responsive Sizes
$screen-sm-min: 400px;
$screen-md-min: 600px;
$screen-lg-min: 768px;
$screen-xl-min: 1240px;

$breakpoints: (
  sm: $screen-sm-min,
  md: $screen-md-min,
  lg: $screen-lg-min,
  xl: $screen-xl-min
);

// **************************************************
// ******************** Spacing *********************
// **************************************************
$base-spacing: 1.6rem;

$space-none: 0;
$space-xs: $base-spacing * 0.25;
$space-sm: $base-spacing * 0.5;
$space-md: $base-spacing;
$space-lg: $base-spacing * 2;
$space-xl: $base-spacing * 3;
$space-xxl: $base-spacing * 4;
$space-xxxl: $base-spacing * 8;

$spacers: (
  none: $space-none,
  xs: $space-xs,
  sm: $space-sm,
  md: $space-md,
  lg: $space-lg,
  xl: $space-xl,
  xxl: $space-xxl,
  xxxl: $space-xxxl,
  auto: auto
);

$types: (
  p: 'padding',
  m: 'margin',
  mn: 'margin'
);

$directions: (
  t: 'top',
  r: 'right',
  b: 'bottom',
  l: 'left'
);

$combinationDirections: (
  x: (
    'left',
    'right'
  ),
  y: (
    'top',
    'bottom'
  )
);

$allDirections: ('left', 'right', 'top', 'bottom');

// **************************************************
// ******************** Fonts ***********************
// **************************************************

$primary-font: Arial, sans-serif;
$secondary-font: Verdana, sans-serif;

$font-weights: (100, 200, 300, 400, 500, 600, 700, 800, 900);

// /**************************************************/
// /* Responsive fonts */
// /**************************************************/

// Determian which breakpoints update the Header sizes
$header-font-responsive-sizes: (sm, md, lg, xl);

// ratio to update the header font / line-height sizes
// will be applied to the first item in $header-font-responsive-sizes
$header-font-modifier-base: 0.6;

// Amount to increase by for every proceeding item in $header-font-responsive-sizes
$header-breakpoint-increase: 0.05;

// Placeholder for changing header sizes by breakpoints
$header-increase: 0;

$font-xs-sizes: (
  md: 1.4rem,
  lg: 1.6rem
);

$font-sm-sizes: (
  md: 1.6rem,
  lg: 1.8rem
);

$font-base-sizes: (
  md: 1.8rem,
  lg: 2rem
);

$font-lg-sizes: (
  md: 2rem,
  lg: 2.2rem
);

$headers: ('6', '5', '4', '3', '2', '1');

$font-size-standard: 2rem;

// /**************************************************/
// /* Line Height Ratios */
// /**************************************************/
$line-height-ratio: 1.6;

// This values will affect the Header font-sizes
$line-height-ratio-headers: 1.2;

$base-text-margin-bottom: $space-md;
$base-text-margin-top: $space-lg;

// **************************************************
// ******************** container *******************
// **************************************************

$container-width: 1320px;
$container-width-large: 1520px;
$container-padding-small: $space-md;
$container-padding-large: $space-xl;

// **************************************************
// ******************** colors **********************
// **************************************************

$transparent: #00000000;
$transparent-partial: #0000005e;

$black: #000000;
$white: #eeeeee;
$red: #ff0000;
$orange: #ffa500;
$yellow: #ffff00;
$green: #008000;
$blue: #0000ff;
$indigo: #4b0082;
$violet: #473198;
$purple: #800080;

$midnight: #161032;
$lake: #095256;
$slate-grey: #0b0a17;
$rock: #62635e;

// **************************************************
// **************** colors THEMING ******************
// **************************************************

$gainsboro: #1a253f;
$fire-opal: #ee6055ff;
$pacific-blue: #37b7cbff;
$majorelle-blue: #5b53f5ff;
$charcoal: #373f51ff;
$eerie-black: #1b1b1eff;

$gradient-right: linear-gradient(
  90deg,
  #d8dbe2ff,
  #37b7cbff,
  #373f51ff,
  #1b1b1eff
);

// /**************************************************/
// /* Bg Vcolor vars */
// /**************************************************/
// TODO Figure out how to name colors
$bg-primary: $gainsboro;
$bg-secondary: $charcoal;
$bg-accent: $pacific-blue;
$bg-secondary-alt: $eerie-black;
$bg-dark: $eerie-black;
$bg-alt: $majorelle-blue;

$bg-colors: (
  primary: $bg-primary,
  secondary: $bg-secondary,
  accent: $bg-accent,
  secondary-alt: $bg-secondary-alt,
  dark: $bg-dark,
  alt: $bg-alt
);

// /**************************************************/
// /* Text colors */
// /**************************************************/
$text-light: rgb(238, 238, 238);
$text-dark: rgb(0, 0, 0);
$link-color: $bg-alt;

// **************************************************
// ************* Colors with Hues *******************
// **************************************************

$target-colors: (
  black: $black,
  white: $white,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  violet: $violet,
  midnight: $midnight,
  lake: $lake,
  slate-grey: $slate-grey,
  // dark-mauve: $dark-mauve,
  // pale-purple: $pale-purple,
  // red-rocks: $red-rocks,
  rock: $rock
);

$target-colors: map.merge($bg-colors, $target-colors);

$tones: 10, 20, 30, 40, 50, 60, 70, 80;

// **************************************************
// ***************** Transitions ********************
// **************************************************

$transition-list: (
  all: all,
  color: color,
  bg: background-color,
  transform: transform
);

// **************************************************
// ***************** Borders ************************
// **************************************************

$border-radius: 4px;
$border-radius-pill: 40px;
$border-radius-round: 50%;
$border-width: 1px;
$border-color: $rock;

$border: $border-color $border-width solid;

$box-shadow: 2px 2px 7px 2px rgb(0 0 0 / 8%);

// **************************************************
// ***************** Positioning ********************
// **************************************************

$positions: (relative, absolute, fixed, static, sticky, unset);

$position-placements: (top, bottom, left, right);

$position-values: (
  0: 0,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  n25: -25%,
  n50: -50%,
  n75: -75%,
  n100: -100%
);

/**************************************************/
/* Displays */
/**************************************************/

// Only Adding currently used displays for this project
$displays: (block, inline, inline-block, flex, inline-flex, none);

/**************************************************/
/* Flexbox */
/**************************************************/

$flex-basis: (
  25: 25%,
  33: 33%,
  50: 50%,
  66: 66%,
  75: 75%,
  100: 100%
);

$placements: (
  center: center,
  start: start,
  end: end,
  flex-start: flex-start,
  flex-end: flex-end,
  between: space-between,
  around: space-around,
  even: space-evenly,
  stretch: stretch
);

$align-items: (
  center: center,
  start: start,
  end: end,
  flex-start: flex-start,
  flex-end: flex-end,
  baseline: baseline,
  stretch: stretch
);

$flex-direction: (
  row: row,
  row-reverse: row-reverse,
  col: column,
  col-reverse: column-reverse
);

$flex-wrap: (
  wrap: wrap,
  no-wrap: nowrap,
  wrap-reverse: wrap-reverse
);

$order: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5
);

// The first key equals the CSS prop to be targeted
// The nested key will set the base class name
// EX: .flex-row {flex-direction: row}
$flex: (
  justify-content: (
    justify-content: $placements
  ),
  align-content: (
    align-content: $placements
  ),
  align-items: (
    align-items: $align-items
  ),
  align-self: (
    align-self: $align-items
  ),
  flex-direction: (
    flex: $flex-direction
  ),
  flex-wrap: (
    flex: $flex-wrap
  ),
  order: (
    order: $order
  ),
  gap: (
    gap: $spacers
  ),
  column-gap: (
    gap-col: $spacers
  ),
  row-gap: (
    gap-row: $spacers
  ),
  flex-basis: (
    flex-basis: $flex-basis
  )
);

// **************************************************
// ***************** Borders ************************
// **************************************************

$borders: (top, right, bottom, left, all);

// **************************************************
// ***************** Widths *************************
// **************************************************

$width--height-percentages: (
  25: 25%,
  33: 33%,
  50: 50%,
  66: 66%,
  75: 75%,
  100: 100%
);

$height-vh: (
  25: 25vh,
  33: 33vh,
  50: 50vh,
  66: 66vh,
  75: 75vh,
  100: 100vh
);

$width-vw: (
  25: 25vw,
  33: 33vw,
  50: 50vw,
  66: 66vw,
  75: 75vw,
  100: 100vw
);

// **************************************************
// ***************** Z-indicies *********************
// **************************************************
$z-indecies: (
  n1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
  1000: 1000
);

$above-everyhting: 999999;
// **************************************************
// ***************** Text Alignment *****************
// **************************************************

$text-alignment: (start, end, center, right, left);

// **************************************************
// **************** Buttoms *************************
// **************************************************

$btn-primary-bg: #3568f6;
$btn-primary-bg: #3a14e6;
$btn-primary-bg: #e96f0c;
$btn-border-radius: 4px;
$btn-border-radius-pill: 50px;
$btn-font-size: 2rem;

// **************************************************
// ***************** Misc ***************************
// **************************************************

// $list-item-icon: '\276F'; // Chevron Arrow
// $list-item-icon: '\262F'; // Yin Yang
// $list-item-icon: '\25E6'; // Black border bullet
// $list-item-icon: '\26AC'; // Black border bullet (bigger)
// $list-item-icon: '\25CF'; // Black dot
// $list-item-icon: '\273A'; // Astrisk Special
// $list-item-icon: '\002A'; // Astrisk
// $list-item-icon: '\25AA'; // Bullet (square)
$list-item-icon: '\2022'; // Bullet (circle)

$underline-bottom: 0px;

// **************************************************
// ***************** SETTINGS ***********************
// **************************************************
// These settings allow the user to toggle on, off, or between settings

// Headers container margin on top by default, set be $base-text-margin-top
$headers-with-margin-top: true;

// toggle on or off if headers should lose their margin top and bottom when flex aligned
$headers-remove-margin-when-aligned: true;

// Nav links have underline on hover
$nav-link-underline: true;

// True = links inherit text color | false = links ingerit $link-color
$links-have-text-color: false;

// Set Tertiary buttons to have udnerline on hover
$btn-tertiary-has-underline: true;

// Set border radius of btn's as pill or not
$btn-is-pill: false;
