// /**************************************************/
// /* Establish base text sizes */
// /**************************************************/
:root {
  @include make-responsive-var(
    --text-base-size,
    $font-base-sizes,
    $font-size-min
  );

  @include make-responsive-var(--text-sm-size, $font-sm-sizes, 1.2rem);

  @include make-responsive-var(--text-lg-size, $font-lg-sizes, 1.5rem);

  // Set Responsive header values
  @include make-responsive-var(
    --header-font-modifier,
    $header-font-modifiers,
    0.5
  );

  --text-xs-size: min(
    #{calc(var(--text-base-size) * 0.888)},
    #{$font-size-min}
  );
  --line-height-ratio: #{$line-height-ratio};
  --line-height-ratio-headers: #{$line-height-ratio-headers};
  --text-color: #{$text-main};
  --base-font-weight: 300;
  --base-line-height: calc(var(--text-base-size) * var(--line-height-ratio));
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%; // Set 1rem to 10px
}

body {
  font-family: $primary-font;
  font-size: var(--text-base-size);
  font-style: normal;
  font-weight: var(--base-font-weight);
  letter-spacing: 0.08rem;
  line-height: var(--base-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
.text,
.text-md {
  line-height: var(--base-line-height);
  font-size: var(--text-base-size);
  font-weight: 300;
  color: var(--text-color);
}

.text-lg {
  --text-base-size: var(--text-lg-size);
  --base-line-height: calc(var(--text-base-size) * var(--line-height-ratio));
}

.text-sm {
  --text-base-size: var(--text-sm-size);
  --base-line-height: calc(var(--text-base-size) * var(--line-height-ratio));
}

small,
.text-xs {
  --text-base-size: var(--text-xs-size);
  --base-line-height: calc(var(--text-base-size) * var(--line-height-ratio));
}

// Generate Header fonts and line heights
@for $i from 1 through 7 {
  h#{$i},
  .h#{$i} {
    $font-modifier: calc((7 - $i) * var(--header-font-modifier));
    $header-font-size: calc(
      $font-size-standard * var(--line-height-ratio-headers) * $font-modifier
    );
    // Ensure that no header goes below $font-size-standard (16px)
    $font-size: max(#{$header-font-size}, #{$font-size-standard});
    $line-height: calc($font-size * var(--line-height-ratio-headers));

    font-size: $font-size;
    line-height: $line-height;
    font-weight: 300;
    color: var(--text-color);
  }
}

.text-bold {
  font-weight: 600;
}
